*{margin:0}
.caption{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    color: #1F2A36;
}
.desc{
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    color:#46505c;
}
.cardContainer2{
    width: 100%;
    heigt: auto;
    padding : 2% 4%;
}
.cardItem{
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    width: 45%;
    height: 60%;
    border: #46505c;
    display: inline-grid;
    margin: 2% 0 0 2.5%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.imgClass{
    width: 30%;
    height: auto;
}
.class-name{
    color: #1F2A36;
    font-family: sans-serif;
    font-size: 28px;
    margin: 3% 0 0 5%;
}
.class-desc{
    color: #46505c;
    font-family: sans-serif;
    font-size: 16px;
    margin: 3% 0 0 5%;
}
.linkToKurikulum{
    color: blue;
    font-family: sans-serif;
    font-size: 16px;
    margin: 3% 0 0 5%;
}
@media only screen and (max-width: 768px) {
    .cardItem{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-right: 2%;
        margin-bottom: 10%;
    }
    .cardContainer2{
        padding : 5%;

    }
    .class-name{
        font-size: 26px;
        margin: 5% 0 0 5%;
    }
    .class-desc{
        font-size: 15px;
        margin: 3% 0 0 5%;
    }
    .linkToKurikulum{
        font-size: 17px;
        margin: 3% 0 3% 5%;
    }
    .imgClass{
        width: 35%;
        height: auto;
    }
}