.captionReviewAlumni{
    color: #1F2A36;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
.descReviewAlumni{
    color: #1F2A36;
    font-family: sans-serif;
    font-size: 1.5em;
}
.cardContainer{
    width: 100%;
    height: auto;
    padding:2% 0;
}
.card{
    display: inline-grid;
    border-radius: 10px;
    width: 42%;
    height: auto;
    padding: 1.8%;
    margin:2% 1%  0 4%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
section{
    margin: 2% 0 0 0 ;
    display: flex;
    flex-direction: row;
}
.review{
    font-family: sans-serif;
    font-size: 1em;
    color:#46505c;
}
.ig{
    font-family: sans-serif;
    font-size: 16px;
    color:#46505c;
    display: flex;
    flex-direction: row;
}
.igIcon{
    width: 17%;
    align-self: center;
}
.img{
    width: 100px;
    margin:1%;
}
.name{
    font-family: sans-serif;
    font-weight: 300;
    color: #1F2A36;
}
@media only screen and (max-width: 768px) {
    .captionReviewAlumni{
        font-weight: 500;
        font-size: 1.5em;
    }
    .descReviewAlumni{
        font-size: 1.2em;
    }
    .cardContainer{
        padding:3% 0%;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:3% 1%  0 1%;
    }
    .review{
        font-size: 18px;
    }
    .section{

        margin:5% 2% 2% 2%;
    }
    .img{
        width: 120px;
        margin-right: 3%;
    }
    .name{
        font-size: 1em;
        font-weight: bold;
    }
    ig{
        font-size: 0.5em;
    }
}